<h1>Stack Overflow</h1>

<%= link_to 'New question', new_question_path, id: 'new_ques' %>
<div class='qform'><%= render 'form' %></div>
<br>
<br>
<table id="question_index">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Points</th>
    <th colspan="2"></th>
  </tr>
<%= @response.parsed_response %>

<% @questions.each do |q| %>
<tr class= "question_row">
<td><%= q.title%></td>
<td><%= q.content%></td>
<td><%= q.points%></td>
<td><%= link_to 'Show', question_path(q) %></td>
<td><% if current_user == q.user%><%= link_to 'Edit', edit_question_path(q)%></td>
<td><%= link_to 'Destroy', q, method: :delete,
data: {confirm: 'Are you sure?'} %>
<%end%>
</td>
  </tr>
  <%end%>
</table>



