<p>
  <strong>Points:</strong>
  <div class="points" ><%= @question.points %> </div>
</p>
<div id="up">
<%= button_to 'UpVote', upvote_question_path(@question), :class => 'upvote', :method => 'post' %>
</div>

<div id="down">
<%= button_to 'DownVote', downvote_question_path(@question), :class => 'downvote', :method => 'post' %>
</div>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<%= link_to 'Back', questions_path %> |
<%= link_to 'Edit', edit_question_path(@question) %>


<h2>Answers</h2>
<%= render @question.answers %>

<h2>Answer this question:</h2>
<%= render 'answers/form' %>

